<app-navbar> </app-navbar>

<!-- Contenu de la formulaire retraite  -->
<div class="spacer"></div>

<div class="container">
    <h1 class  >Update User</h1>
    <form (submit)="updateUser(iduser)" >
      <div align="right" class="mb-3">
        <button mat-raised-button color="primary" routerLink="/listeuser">Go to User List</button>
      </div>
     
      <mat-form-field appearance="outline">
       
        <input matInput placeholder="{{user?.fullname}}" name="fullname"  [(ngModel)]="fullname">
      
    </mat-form-field>
    <mat-form-field appearance="outline">
     
      <input type="email" matInput  placeholder="{{user?.email}}"  name="email"  [(ngModel)]="email">
    
  </mat-form-field>
  <mat-form-field appearance="outline">
   
    <input matInput type="password" placeholder="{{user?.password}}" name="password"  [(ngModel)]="password">
  
</mat-form-field>
<mat-form-field>

  <mat-select name="role" placeholder="{{user?.role}}"  [(ngModel)]="role">
      <mat-option value="ADMIN">ADMIN</mat-option>
      <mat-option value="AGENT_RH"> AGENT RH</mat-option>
      <mat-option value="RESPONSABLE"> RESPONSABLE</mat-option>

  </mat-select>
</mat-form-field>


   
    
    
      
    
      <button type="submit" mat-raised-button color="primary" >update user</button>
    </form>
    
  </div>

