<!-- Contenu de la formulaire retraite  -->
<div class="spacer"></div>

<div class="container">
    <h1 class  >Update Agent</h1>
    <form (submit)="updateAgent()" >
      <div align="right" class="mb-3">
        <button mat-raised-button color="primary" routerLink="/listeagent">Go to Agent List</button>
      </div>
    
    <mat-form-field appearance="outline">
     
        <input matInput placeholder="{{agent.nomprenom}}"   name="nomprenom" [(ngModel)]="nomprenom" >
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <mat-label>genre</mat-label>
        <mat-select name="sexe" placeholder="{{agent.sexe}}"   name="sexe" [(ngModel)]="sexe">
            <mat-option value="MALE">HOMME</mat-option>
            <mat-option value="FEMALE"> FEMME</mat-option>

        </mat-select>
    </mat-form-field>
      <mat-form-field>
        <mat-label>code position </mat-label>
        <mat-select   name="idposition"  placeholder="{{agent.idposition}}" [(ngModel)]="idposition">
          <mat-option *ngFor="let position of position" [value]="position">
        {{position.libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>code residence </mat-label>
        <mat-select name="codeResidence" placeholder="{{agent.codeResidence}}" [(ngModel)]="codeResidence">
          <mat-option *ngFor="let residence of residence "  [value]="residence">
            {{residence.libelle}} 
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Code grade</mat-label>
        <mat-select  placeholder="{{agent.code_grade}}" name="code_grade"  [(ngModel)]="code_grade" >
        <mat-option *ngFor="let grade of grade" [value]="grade">{{ grade.libelle }}</mat-option>
        </mat-select>
    </mat-form-field>
   
    
      <mat-form-field>
        <mat-label>Situation Familiale </mat-label>
        <mat-select name="situation_familiale" placeholder="{{agent.situation_familiale}}" name="situation_familiale"  [(ngModel)]="situation_familiale" >
            <mat-option value="CELEBATAIRE">Célibataire</mat-option>
            <mat-option value="MARIER"> Mariéer</mat-option>
            <mat-option value="DIVORCE"> Divorcée</mat-option>

        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Date de naissence </mat-label>
        <input matInput placeholder="{{agent.date_naissance}}"  type="date" name="date_naissance" [(ngModel)]="date_naissance" >
        <mat-icon matSuffix>calendar_month</mat-icon>
    </mat-form-field>

    
    <mat-form-field>
      <mat-label>Situation Administrative </mat-label>
        <mat-select  placeholder="{{agent.situation_administrative}}" name="situation_administrative"name="situation_administrative" [(ngModel)]="situation_administrative">
            <mat-option value="ENACTIVITE">En activitée</mat-option>
            <mat-option value="AUTRE">Autre </mat-option>
           

        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
       
        <input matInput placeholder="{{agent.date_entree_en_activite}}" type="date" name="date_entree_en_activite" [(ngModel)]="date_entree_en_activite"   >
        <mat-icon matSuffix>calendar_month</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Date en position </mat-label>
        <input matInput placeholder="{{agent.date_debut_position}}"type="date" name="date_debut_position" [(ngModel)]="date_debut_position">
        <mat-icon matSuffix>calendar_month</mat-icon>
    </mat-form-field>
    

    
     
    
      <button type="submit" mat-raised-button color="primary" >update Agent</button>
    </form>
    
  </div>
y