<div class="spacer"></div>
<div class="container">
<form #agentForm="ngForm" (ngSubmit)="saveAgent(agentForm)">
    <div align="right" class="mb-3">
        <button mat-raised-button color="primary" routerLink="/listeagent">Go to Agent List</button>
    </div>

    <div class="card p-5 mt-2">


        <mat-form-field appearance="outline">
            <mat-label>Id agent </mat-label>
            <input matInput placeholder="id agent" name="id agent" [(ngModel)]="agent.id_agent" disabled>
            <mat-icon matSuffix>how_to_reg</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Matricule agent</mat-label>
            <input matInput placeholder="matricule" name="matricule_agent"  [(ngModel)]="agent.matricule_agent">
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>NomPrenom </mat-label>
            <input matInput placeholder="NomPrenom" name="nomprenom" [(ngModel)]="agent.nomprenom" >
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sexe</mat-label>
            <mat-select name="sexe" [(ngModel)]="agent.sexe">
                <mat-option value="MALE">HOMME</mat-option>
                <mat-option value="FEMALE"> FEMME</mat-option>

            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Situation Familiale </mat-label>
            <mat-select name="situation_familiale" [(ngModel)]="agent.situation_familiale" >
                <mat-option value="CELEBATAIRE">Célibataire</mat-option>
                <mat-option value="MARIER"> Mariéer</mat-option>
                <mat-option value="DIVORCE"> Divorcée</mat-option>

            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Date de naissance </mat-label>
            <input matInput placeholder="" type="date" id="date" name="date_naissance"required  [(ngModel)]="agent.date_naissance">
            <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Situation Administrative </mat-label>
            <mat-select name="situation_administrative" [(ngModel)]="agent.situation_administrative">
                <mat-option value="ENACTIVITE">En activitée</mat-option>
                <mat-option value="AUTRE">Autre </mat-option>
               

            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date entréé en activitée </mat-label>
            <input matInput placeholder="" type="date" id="date" name="date_entree_en_activite"  required [(ngModel)]="agent.date_entree_en_activite">
            <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date en position </mat-label>
            <input matInput placeholder="" type="date" id="date" name="date_debut_position"  required [(ngModel)]="agent.date_debut_position">
            <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
      
    
          
          <mat-form-field appearance="outline">
            <mat-label>Code résidence</mat-label>
            <mat-select placeholder="Sélectionnez une résidence" [(ngModel)]="agent.code_residence" name="code_residence">
              <mat-option *ngFor="let residence of residence" [value]="residence.idresidence">{{ residence.code_residence }}</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Code grade</mat-label>
            <mat-select placeholder="Sélectionnez un grade" [(ngModel)]="agent.code_grade" name="code_grade">
            <mat-option *ngFor="let grade of grade" [value]="grade.idgrade">{{ grade.libelle }}</mat-option>
            </mat-select>
        </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Code position</mat-label>
            <mat-select placeholder="Sélectionnez une position" [(ngModel)]="agent.code_position" name="code_position">
              <mat-option *ngFor="let position of position" [value]="position.idposition">{{ position.libelle }}</mat-option>
            </mat-select>
          </mat-form-field>
        
          

        <div class="text-center mt-3" >
            <button mat-button>Clear</button>
            <button mat-button color="primary">Save</button>
        </div>

    
    </div>
</form>
</div>