<nav>
    <div class="row">
      <div class="quarter">
        <a href="#home">
          <img src="https://imgs.search.brave.com/E2Fsb_uD3JOFg-vzH980ILTAbzXWPYF_bzEemUk9bJ4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9sb2dv/cy1kb3dubG9hZC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTkvMDcvTGFfUG9z/dGVfVHVuaXNpZW5u/ZV9Mb2dvLTY0M3g3/MDAucG5n" alt="Logo la poste tunisienne ">
        </a>
      </div>
      
      <div class="rest">
        <i class="fa fa-bars"></i>
      
        <div  class="text-menu">
          <div style="cursor: pointer;" (click)="logout()">
            <a ><i class="fa fa-sign-out"></i> Logout</a>
          </div>
          <div *ngIf="role === 'responsableRH' ||role === 'ResponsableDemande' ||role === 'ResponsableReseaux'" >
            <a routerLink="Dashboard">Dashboard</a>
          </div>
          <span *ngIf="role === 'responsableRH' ||role === 'ResponsableDemande' ||role === 'ResponsableReseaux'" class="slash">/</span>
  
          <div   *ngIf="role === 'ADMIN'">
            <a href="#">Paramétre</a>
            <ul>
              <li><a routerLink="/residence">Gestion des residence</a></li>
              <li><a routerLink="/grade">Gestion des grade </a></li>
              <li><a routerLink="/position">Gestion des position  </a></li>
            
            </ul>
          </div>
  
          <span class="slash">/</span>
  
          <div  *ngIf="role === 'AGENT_RH'">
            <a routerLink="">demandes</a>
            <ul>
              <li><a routerLink="/retraite">Demande de retraite</a></li>
              <li><a routerLink="/mutation">Demande de mutation</a></li>
              <li><a routerLink="/conge">Demande de Conge</a></li>
            </ul>
          </div>
  
          <span class="slash">/</span>
  
          <div *ngIf="role === 'AGENT_RH'"><a routerLink="/agent">agents</a>
            
            </div>
  
          <span class="slash">/</span>
  
          <div *ngIf="role === 'AGENT_RH'">
            <a routerLink="/besoin">besoin</a>
            
          </div>
          <span class="slash">/</span>
          <div *ngIf="role === 'ADMIN'">
            <a routerLink="/user">utilisateurs</a>
           
          </div>
  
        </div>
      </div>
    </div>
   
  </nav>
<router-outlet></router-outlet>