<nav>
    <div class="row">
      <div class="quarter">
        <a href="#home">
          <img src="https://imgs.search.brave.com/E2Fsb_uD3JOFg-vzH980ILTAbzXWPYF_bzEemUk9bJ4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9sb2dv/cy1kb3dubG9hZC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTkvMDcvTGFfUG9z/dGVfVHVuaXNpZW5u/ZV9Mb2dvLTY0M3g3/MDAucG5n" alt="Logo la poste tunisienne ">
        </a>
      </div>
  
      <div class="rest">
        <i class="fa fa-bars"></i>
  
        <div class="text-menu">
          <div>
            <a routerLink="">Dashboard</a>
          </div>
          <span class="slash">/</span>
  
          <div>
            <a href="#">Paramétre</a>
            <ul>
              <li><a href="#">Gestion des residence</a></li>
              <li><a href="#">Gestion des grade </a></li>
              <li><a href="#">Gestion des position  </a></li>
              <li><a href="#">Gestion des direction  </a></li>
            </ul>
          </div>
  
          <span class="slash">/</span>
  
          <div>
            <a routerLink="">demandes</a>
            <ul>
              <li><a routerLink="/retraite">Demande de retraite</a></li>
              <li><a routerLink="/mutation">Demande de mutation</a></li>
              <li><a routerLink="/conge">Demande de Conge</a></li>
            </ul>
          </div>
  
          <span class="slash">/</span>
  
          <div><a routerLink="/agent">agents</a>
            
            </div>
  
          <span class="slash">/</span>
  
          <div>
            <a routerLink="/besoin">besoin</a>
            
          </div>
          <span class="slash">/</span>
          <div>
            <a routerLink="/user">utilisateurs</a>
           
          </div>
  
        </div>
      </div>
    </div>
   
  </nav>
<router-outlet></router-outlet>