<!-- Contenu de la formulaire retraite  -->
<div class="spacer"></div>

<div class="container">
    <h1 class  >Update Residence</h1>
    <form (submit)="updateResidence()" >
      <div align="right" class="mb-3">
        <button mat-raised-button color="primary" routerLink="/listeposition">Go to residence List</button>
      </div>
      <mat-form-field appearance="outline">
       
        <input matInput placeholder="{{residence?.libelle}}" name="libelle"  [(ngModel)]="libelle">
        
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>code direction</mat-label>
        <mat-select placeholder="Sélectionnez une direction" [(ngModel)]="codeDirection" name="codeDirection">
          <mat-option *ngFor="let direction of direction" [value]="direction">{{ direction.libelle }}</mat-option>
        </mat-select>
      </mat-form-field>

    
    
     <button type="submit" mat-raised-button color="primary" >update residence</button>
    </form>
    
  </div>
